<section id="rootpage"> 
  <div class="blue"><i class="fab fa-twitter top-icon"></i></div>
  <div class="contents">
    <h1>ログインアプリ</h1>
    <h2> 現在ログインしていません </h2>
    <div class="posts">
      <div class="" id="signin"><%= link_to "ログイン", new_user_session_path, class: 'post' %><!-- ログイン画面に移行する -->
      </div>
      <div class="" id="signup"><%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する --></div>
    </div>
  </div>
  <div class="blue2"></div>
</section>
