// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rootpage {
  .blue {
    background-color: rgb(29, 161, 242);
    height: 200px;

    i {
      color: white;
      padding-top: 60px;
      font-size: 60px;
      width: 100%;
      padding-left: 40%;
    }
  }
  .blue2 {
    background-color: rgb(29, 161, 242);
    height: 700px;
  }
  .contents {
    margin: 100px 0;
  }
  h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 530;
    margin-bottom: 30px;
  }
  h2 {
    color: rgb(88, 88, 88);
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }

  .posts {
    display: flex;
    width: 26%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .post {
    // width: 70px;
    color: white;
    padding: 1em 2em;
    background-color: rgb(29, 161, 242);
    border-radius: 35px;
    text-decoration: none;
    margin: 0 auto;
  }
}

#loginpage {
  h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
  }
  i {
    width: 100%;
    text-align: center;
    color: rgb(29, 161, 242);
    font-size: 40px;
    margin: 20px 0;
  }
  #new_user {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    input[type="email"] {
      width: 100%;
      height: 30px;
    }

    input[type="password"] {
      width: 100%;
      height: 30px;
    }

    .inp {
      width: 100%;
      text-align: left;
      padding: 0.8em;
      margin-bottom: 15px;
      box-sizing: border-box;
      // color: rgb(194, 204, 211);
    }
    // #login {
    //   color: white;
    //   padding: 1em;
    //   margin-top: 15px;
    // }
    .df {
      text-align: left;
    }
    #forgetps {
      text-decoration: none;
      margin-left: 7px;
      margin-top: 3px;
    }
    #login {
      // width: 100%;
      // text-align: center;
      // background-color: rgb(29, 161, 242);
      border: none;
      border-radius: 5px;
      margin-bottom: 50px;
      font-weight: bolder;
      font-size: 15px;
    }
  }
  .last {
    display: flex;
    width: 47%;
    margin: 0 auto;
    .p-last {
      color: rgb(133, 133, 134);
      margin: 0;
      text-align: center;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      vertical-align: middle;
      display: inline-block;
      font-size: 20px;
      margin-left: 50px;
    }
  }
}

#signup {
  h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
  }

  //sign-upとは微妙に違う

  i {
    width: 100%;
    text-align: center;
    color: rgb(29, 161, 242);
    font-size: 60px;
    margin: 20px 0 10px 0;
  }
  #new_user {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    #user_email {
      margin-top: 30px;
    }
    input[type="text"] {
      width: 100%;
      height: 30px;
    }
    input[type="email"] {
      width: 100%;
      height: 30px;
    }
    input[type="password"] {
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
    }
    .inp {
      width: 100%;
      text-align: left;
      padding: 0.8em;
      margin-bottom: 30px;
      box-sizing: border-box;
      color: rgb(194, 204, 211);
    }
    #login {
      color: white;
      text-align: center;
      padding: 1em;
      margin-top: 15px;
    }
    .df {
      display: flex;
    }
    #forgetps {
      text-decoration: none;
      margin-left: 7px;
    }
    #login {
      background-color: rgb(29, 161, 242);
      border: none;
      border-radius: 5px;
      margin-bottom: 50px;
      font-size: 15px;
      font-weight: bolder;
    }
  }
  .last {
    display: flex;
    width: 47%;
    margin: 0 auto;
    .p-last {
      color: rgb(133, 133, 134);
      margin: 0;
      text-align: center;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      vertical-align: middle;
      display: inline-block;
      font-size: 20px;
      margin-left: 50px;
    }
  }
}
